<footer class="text-white py-8 mt-20 border-t border-gray-600">
    <div class="max-w-7xl mx-auto flex flex-col md:flex-row items-center justify-center gap-10 px-4 ">
        <div class="max-w-xs">
            <img src="/logo.png" alt="Company Logo" class="h-12" />
            <p>Un servidor de roleplay serio, diseñado para la creación de historias memorables Forjamos la narrativa, tú la vives.</p>
        </div>
        <div class="flex flex-col gap-2">
            <span class="text-lg">Redes Sociales</span>
            <a href="https://discord.com" target="_blank" rel="noopener noreferrer" class="font-normal">Únete a discord</a>
        </div>
    </div>

    <div class="mt-8 text-center text-xs text-gray-400">
        <p>&copy; {new Date().getFullYear()} Made by <a href="https://alvarocampos.dev" class="hover:underline">Álvaro Campos</a>. All rights reserved.</p>
    </div>
</footer>
