---
---

<div class="flex flex-col items-center justify-center text-center space-y-8 p-8 bg-black/50 text-white" id="redes">
    <h3 class="text-4xl">Redes Sociales</h3>
    <p class="text-lg">Sigue todas las novedades a través de nuestras redes sociales y de nuestra comunidad activa.</p>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8 w-full max-w-6xl">
        <a href="https://discord.gg/helixstudio" target="_blank" class="bg-white/10 border-1 border-white/10 p-6 rounded-lg shadow-lg hover:shadow-xl hover:scale-105 transition-all duration-300">
            <i class="fab fa-discord text-4xl mb-4"></i>
            <h4 class="text-2xl mb-2">Discord</h4>
            <p class="text-gray-400">Únete a nuestra comunidad en Discord para interactuar con otros jugadores y desarrolladores.</p>
        </a>
        <a href="" target="_blank" class="bg-white/10 border-1 border-white/10 p-6 rounded-lg shadow-lg hover:shadow-xl hover:scale-105 transition-all duration-300">
            <i class="fab fa-twitter text-4xl mb-4"></i>
            <h4 class="text-2xl mb-2">Twitter</h4>
            <p class="text-gray-400">Síguenos en Twitter para estar al tanto de las últimas noticias y actualizaciones.</p>
        </a>
        <a href="" target="_blank" class="bg-white/10 border-1 border-white/10 p-6 rounded-lg shadow-lg hover:shadow-xl hover:scale-105 transition-all duration-300">
            <i class="fab fa-tiktok text-4xl mb-4"></i>
            <h4 class="text-2xl mb-2">TikTok</h4>
            <p class="text-gray-400">Descubre contenido divertido y creativo sobre nuestro juego en TikTok.</p>
        </a>
        <a href="" target="_blank" class="bg-white/10 border-1 border-white/10 p-6 rounded-lg shadow-lg hover:shadow-xl hover:scale-105 transition-all duration-300">
            <i class="fab fa-youtube text-4xl mb-4"></i>
            <h4 class="text-2xl mb-2">YouTube</h4>
            <p class="text-gray-400">Suscríbete a nuestro canal de YouTube para ver trailers, gameplays y más.</p>
        </a>
    </div>
</div>